<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" defer></script>
    <script src="/static/synerd.js" defer></script>
    <title>Join Us</title>
</head>
<body>
    <nav>
        <div class="logo">
            <img src="/static/synerdlogo.png" alt="SynerD Logo">
        </div>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="">About us</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Resources</a></li>
            <li><a href="">Members</a></li>
            <li><a class="btn" href="join.html">Join Us!</a></li>
            <li><a class="btn" href="signIn.html">Sign In</a></li>
        </ul>
    </nav>

    <section class="join-us-hero">
        <div class="hero-content">
            <h1 class="hero-heading">Join Us!</h1>
            <h2>Rewarding Experiences Ahead</h2>
            <video src="/static/pexels-olena-5586276.mp4" type="video/mp4" loop="true" muted autoplay="true" class="video-background"></video>
        </div>
    </section>

    <section class="join-us-section">
        <div class="container">
            <div class="user-reg reg-box">
                <div class="image">
                    <img src="/static/ella-jardim-BSw_8AatkNU-unsplash.jpg" width="500" height="700" alt="globe">
                </div>
                <div class="reg-form">
                    <form id="form" action="">
                        <h1>Fill Out The Form Below</h1>
                       <input type="text" id="username" placeholder="Username"> 
                       <input type="text" id="password" placeholder="Password"> 
                       <input type="text" id="firstName" placeholder="First Name"> 
                       <input type="text" id="middleName" placeholder="Middle Name"> 
                       <input type="text" id="lastName" placeholder="Last Name"> 
                       <input type="radio" id="male" name="gender" value="male">
                       <label for="male">Male</label>
                       <input type="radio" id="female" name="gender" value="female">
                       <label for="female">Female</label>
                       <input type="radio" id="other" name="gender" value="other">
                       <label for="other">Other</label>
                       <input type="text" id="streetAddress" placeholder="Street Address"> 
                       <input type="text" id="city" placeholder="City"> 
                       <input type="text" id="state" placeholder="State (U.S. Only)">
                       <input type="text" id="zipCode" placeholder="Zip Code">
                       <input type="text" id="email" placeholder="Email">
                       <input type="text" id="phone" placeholder="Mobile Phone #">
                       <input type="text" id="country" placeholder="Country of Origin">
                       <input type="text" id="dob" placeholder="Date of Birth">
                       <input type="submit" id="submit" name="" value="Register">
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="logo">
            <img src="/static/synerdlogo.png" alt="SynerD Logo">
        </div>
        <div class="footer-content">
            <div class="address">
                <h1>Address</h1>
                <p>1234 Madeup Ave.</p>
                <p>Anywhere USA 55555</p>
            </div>
            <div class="phone">
                <h1>Phone</h1>
                <p>+1 888-8888</p>
            </div>
            <div class="email">
                <h1>Email</h1>
                <p>SynerD@gmail.com</p>
            </div>
        </div>
    </footer>

</body>
</html>