<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="synerd.js" defer></script>
    <title>SynerD: Sign In</title>
</head>
<body>
    <nav>
        <div class="logo">
            <img src="/static/synerdlogo.png" alt="SynerD Logo">
        </div>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="">About us</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Resources</a></li>
            <li><a href="">Members</a></li>
            <li><a class="btn" href="join.html">Join Us!</a></li>
            <li><a class="btn" href="signIn.html">Sign In</a></li>
        </ul>
    </nav>

    <div class="slider">
        <figure>
            <img src="/static/jonny-gios-h_XcnLbDc_0-unsplash.jpg" height="426" alt="">
            <img src="/static/laurent-gence-IrOyCOYQReg-unsplash.jpg" height="426" alt="">
            <img src="/static/lustig-photography-1vPblXnxhds-unsplash.jpg" height="426" alt="">
            <img src="/static/mohammad-alizade-TPTY3wSqSpY-unsplash.jpg" height="426" alt="">
            <img src="/static/jonny-gios-h_XcnLbDc_0-unsplash.jpg" height="426" alt="">
        </figure>
    </div>

    <section class="sign-in-section">
        <div class="sign-in-container">
            <div class="user-sign-in">
                <div class="sign-in-form">
                    <form id="form">
                        <h1>Sign In</h1>
                       <input type="text" id="username" placeholder="Username">
                       <input type="text" id="password" placeholder="Password">
                       <input type="submit" name="" value="Sign In">
                    </form>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>